@using System.Security.Claims;
@{
    ViewData["Title"] = "Home";
}

<h1>Hello @(User.Identity.IsAuthenticated ? User.Identity.Name : "anonymous")</h1>

@if (User.Identity.IsAuthenticated)
{
    <h2>Claims</h2>
    <dl>
        @foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-danger" })
}
else
{
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })
}
