@model Microsoft.Owin.Security.AuthenticationProperties
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>Hello, @User.Identity.Name</h1>
    <p>
        AuthenticationType: <code>@User.Identity.AuthenticationType</code>
    </p>
    <details>
        <summary>Claims</summary>
        <dl>
            @foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    </details>
    if (Model?.Dictionary?.Count > 0)
    {
        <details>
            <summary>Properties</summary>
            <dl>
                @foreach (var prop in Model.Dictionary)
                {
                    <dt>@prop.Key</dt>
                    <dd>@prop.Value</dd>
                }
            </dl>
        </details>
    }

    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-danger" })
}
else
{
    <h1>Hello, anonymous</h1>
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })
}