@model Microsoft.Owin.Security.AuthenticationProperties
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home";
}

<h1>Hello @(User.Identity.IsAuthenticated ? User.Identity.Name : "anonymous")</h1>

@if (User.Identity.IsAuthenticated)
{
    <h2>Claims</h2>
    <dl>
        @foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
    if (Model?.Dictionary?.Count > 0)
    {
        <h2>Properties</h2>
        foreach (var prop in Model?.Dictionary)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    }
    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-danger" })
}
else
{
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })
}
